.App {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;;
}

.card {
  margin: 1rem 0;
  height: calc(100% - 2rem);
}

.subheader {
  color: grey;
}

.loading {
  display:flex;
  justify-content: center;
}

.loading::after{
  content: "";
  width: 150px;
  height: 150px;
  border: 20px solid #dddddd;
  border-top-color: #009579;
  border-bottom-color: #009575;
  border-radius: 50%;
  animation: loading 1s ease infinite; 
}

  .loading-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes loading {
  to {
    transform: rotate(1turn);
  }


}
